@link-color: #808284;
@link-hover-color: #86caff;

@header-link-shadow-color: #984203;
@header-link-border-color: salmon;
@header-background-color: #111;
@header-font-color: #808284;

@main-content-background-color: #111;
@main-content-font-color: #ddd;

@footer-background-color: #111;
@footer-secondary-background-color: #111;
@footer-font-color: #808284;
